.image-to-show {
    width: 300px;
    height: 300px;
    visibility: hidden;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.visible {
    visibility: visible;
}
.stop-button{
    display: inline-block;
    padding: 50px 50px;
    background-color: red;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    border-radius: 50%;
    cursor: pointer;
}
.proceed-button{
    display: inline-block;
    padding: 50px 50px;
    background-color: blue;
    color: yellow;
    font-size: 24px;
    text-transform: uppercase;
    border-radius: 50%;
    cursor: pointer;
}