.loading {
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    animation: loading 2s linear infinite;
    position: relative;
    border-radius: 50%;
    border: 2px solid #8A8A8A;
    background-color: #18CFAB;
    top: 50px;
    right: 50px;
}
@keyframes loading {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    16.5% {
        transform: translateX(0);
        opacity: 100%;
    }
    33% {
        transform: translateX(0px);
        opacity: 0;
    }
    33.5% {
        transform: translateX(50px);
        opacity: 0;
    }
    50% {
        transform: translateX(50px);
        opacity: 100%;
    }
    66.5% {
        transform: translateX(50px);
        opacity: 0;
    }
    67% {
        transform: translateX(100px);
        opacity: 0;
    }
    83.5% {
        transform: translateX(100px);
        opacity: 100%;
    }
    100% {
        transform: translateX(100px);
        opacity: 0;
    }
}