.custom-bullet-style {
    width: 54px;
    height: 53px;
    overflow: hidden;
    border: 6px solid rgba(31,218,181,0.2);
    display: inline-block;
}
.custom-bullet-style img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.glide__bullet--active {
    position: relative;
    bottom: 10px;
}
