.glide__arrow {
  position: absolute;
  display: block;
/*  top: 50%;*/
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 15.5px 15.5px;
  background-color: transparent;
  border: 1px solid #BBBBBB;
  opacity: 1;
  cursor: pointer;
  transform: translateY(195%);
  line-height: 1; }
  .glide__arrow:focus {
    outline: none; }
  .glide__arrow:hover {
    border-color: white; }
  .glide__arrow--left {
    left: 65%; }
  .glide__arrow--right {
    right: 67.5%; }
  .glide__arrow--disabled {
    opacity: 0.33; }

.glide__arrow:hover{
  background-color: #18CFAB;
  border: none;
}
.glide__arrow--left::before{
  content: "";
  position: absolute;
  border: solid #BBBBBB;
  border-width: 0 1px 1px 0;
  display: inline-block;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  padding: 5px;
  top: 10px;
  left: 7px;
}
.glide__arrow--right::after {
  content: "";
  position: absolute;
  border: solid #BBBBBB;
  border-width: 0 1px 1px 0;
  display: inline-block;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  padding: 5px;
  top: 10px;
  right: 7px;
}
.glide__bullets {
  position: absolute;
  z-index: 2;
  top: 425px;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%); }

.glide__bullets:last-child{
  margin-right: 0;
}
.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
/*  width: 9px;
  height: 9px;*/
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin-right: 32px; }
  .glide__bullet:focus {
    outline: none; }
  .glide__bullet:hover, .glide__bullet:focus {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.5); }
  .glide__bullet--active {
    background-color: white; }

.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }

.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }
