@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 1160px;
    margin: 0 auto;
}
.white-text {
    color: white;
}
.blue-text {
    color: #18CFAB;
}
.hidden {
    display: none;
}
.head-section {
    background-image: url("../img/header/head_background.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.head-nav {
    background-color: rgba(94, 93, 88, 0.6);
    padding: 26px 0;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-logo {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar-icon{
    background-image: url("../img/header/logo_background.png");
    padding: 13.5px 13px 13.5px 13px;
}
.logo-text {
    margin: 0 auto;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
.nav-logo-text {
    font-size: 32px;
}
.nav-bar-links-wrapper {
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar-link {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    text-decoration: none;
}
.nav-bar-link:hover {
    color: #18CFAB;
}
.main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-title-first-paragraph {
    margin-top: 264px;
    text-transform: uppercase;
    font-size: 35px;
    color: white;
    font-weight: bold;
}
.main-title-second-paragraph {
    font-size: 78px;
    text-transform: uppercase;
    margin-top: 22px;
    font-weight: bold;
}
.main-title-third-paragraph {
    font-size: 34px;
    margin-top: 22px;
    color: #D4D4D4;
}

.main-title-links-wrapper {
    margin-top: 132px;
    display: flex;
    margin-bottom: 243px;
    width: 362px;
    justify-content: space-between;
}
.link-white-border {
    padding-top: 20px;
    border-radius: 2px;
    background-color: #D4D4D4;
}
.main-link {
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 17px;
    background-color: #18CFAB;
    border-radius: 2px;
    font-weight: bold;
}
.our-opportunities {
    padding-top: 8px;
    margin: 0 auto;
    width: 1920px;
    display: flex;
}
.opportunity {
    width: 480px;
    display: flex;
    text-transform: uppercase;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.pointer {
    margin-bottom: 47px;
}

.diamond {
    margin-bottom: 58px;
}
.lamp {
    margin-bottom: 48px;
}
.computer {
    margin-bottom: 58px;
}
.dark {
    background: #1C2A33;
    color: #18CFAB;
    padding: 87px 0 110px 0;
}
.blue {
    background: #18CFAB;
    color: white;
    padding: 98px 0 110px 0;
}
.title-style {
    font-size: 36px;
    color: #4E4E4E;
    text-align: center;
}
.services-title {
    margin: 85px 0 100px 0;
}
.services-title::before {
    content: '';
    border: 1px solid #18CFAB;
    width: 79px;
    position: relative;
    top: 39px;
    left: 170px;
    display: inline-block;
}
.services-title::after {
    content: '';
    border: 1px solid #18CFAB;
    width: 79px;
    position: relative;
    top: 34px;
    right: 155px;
    display: inline-block;
}
.services-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
}
.service-info {
  height: 200px;
}

.service {
    font-size: 16px;
    color: #717171;
    width: 193px;
    padding: 28px 20px;
    cursor: pointer;
    border: 1px solid white;
    text-align: center;
    position: relative;
}

.service:hover {
    border: 1px solid #18CFAB;
}
.active {
    background-color: #18CFAB;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    display: flex;
    align-content: center;
    padding-left: 45px;
    padding-right: 0;
}
.active::after {
    content: '';
    border: 13px solid transparent;
    border-top: 13px solid #18CFAB;
    display: inline-block;
    position: absolute;
    top: 71px;
    left: 89px;
}
.service-image {
    width: 192px;
}
.service-text {
    display: inline-block;
    font-size: 13px;
    color: #777777;
    line-height: 24px;
    width: 850px;
    vertical-align: top;
}
.purchase-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 127px 0;
    background-image: url("../img/just-buy-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.purchase-service-title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18CFAB;
    margin-bottom: 12px;
}
.purchase-service-text {
    font-size: 16px;
    color: #D8D8D8;
    margin-bottom: 65px;
    line-height: 40px;
}
.our-work {
    background: #E9EDEF;
}
.works-title {
    margin: 85px 0 100px 0;
}
.works-title::before {
    content: '';
    border: 1px solid #18CFAB;
    width: 79px;
    position: relative;
    top: 39px;
    left: 224px;
    display: inline-block;
}
.works-title::after {
    content: '';
    border: 1px solid #18CFAB;
    width: 79px;
    position: relative;
    top: 34px;
    right: 210px;
    display: inline-block;
}
.works-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.works-links-wrapper {
    display: flex;
    border: 1px solid #DADADA;
    margin-bottom: 70px;
}
.work-link{
    padding: 13px 15px;
    color: #717171;
    font-size: 14px;
    border: 1px solid #DADADA;
    cursor: pointer;
}
.all {
    padding: 13px 27px;
    color: #18CFAB;
    border: 2px solid #18CFAB;
    cursor: pointer;
}
.web-design-wrapper:hover img{
    display: none;
}
.web-design-wrapper:hover .web-design{
    display: flex;
}
.web-design-title::before {
    content: url("../img/works/icon.png");
    position: absolute;
    bottom: 57px;
    left: 20px;
}
.works-pics-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.web-design {
    border-top: 1px solid #18CFAB;
    flex-direction: column;
    align-items: center;
    padding: 113px 0 34px 0;
    display: none;
}
.work-pic {
    width: 290px;
    background-size: cover;
    background-repeat: no-repeat;
}

.web-design-title {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin: 30px 0 10px 0;
    position: relative;
}
.web-design-subtitle {
    color: #8A8A8A;
    font-size: 12px;
}
.load-more {
    margin: 70px 0 100px 0;
    display: flex;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
}

.load-more-link-style {
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}
.plus-icon {
    width: 18px;
    margin-right: 15px;
}
.load-more::before {
    content: url("../img/works/plus.png");
    position: relative;
    margin-right: 15px;
}
.breaking-news {

}
.news-main-title {
    margin: 85px 0 100px 0;
}
.news-main-title::before {
    content: '';
    border: 1px solid #18CFAB;
    width: 79px;
    position: relative;
    top: 39px;
    left: 194px;
    display: inline-block;
}
.news-main-title::after {
    content: '';
    border: 1px solid #18CFAB;
    width: 79px;
    position: relative;
    top: 34px;
    right: 175px;
    display: inline-block;
}
.news-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.news-item {
    width: 263px;
    margin-bottom: 44px;
    text-decoration: none;
}
.image-date-wrapper {
    position: relative;
}
.date {
    width: 70px;
    position: absolute;
    background: #203E38;
    bottom: 143px;
    left: 193px;
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.day {
    margin-bottom: 6px;
}
.news-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    margin-left: 20px;
    display: inline-block;
}
.news-info {
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    color: #777777;
    margin-left: 17px;
    cursor: pointer;
}
.posted-by {
    margin-right: 5px;
}
.posted-by::after {
    content: "";
    border-left: 1px solid #777777;
    height: 10px;
    margin-left: 10px;
}
.news-item:hover h6{
    color: #18CFAB;
}
.news-item:hover .date{
    background: #18CFAB;
}
.reviews {
    background-image: url("../img/reviews-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 98px 0 219px 0;
}
.reviews-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviews-title {
    font-size: 36px;
    line-height: 40px;
    color: white;
    text-align: center;
    margin-bottom: 100px;
}
.reviews-title::before {
    content: '';
    border: 1px solid #18CFAB;
    width: 79px;
    position: relative;
    top: 39px;
    left: 341px;
    display: inline-block;
}
.reviews-title::after {
    content: '';
    border: 1px solid #18CFAB;
    width: 79px;
    position: relative;
    top: 34px;
    right: 341px;
    display: inline-block;
}
.shape {
    margin-bottom: 36px;
}
.review-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review-text {
    color: #BBBBBB;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 38px;
}
.reviewer-name {
    font-size: 16px;
    line-height: 27px;
    font-weight: bold;
    color: #18CFAB;
    margin-bottom: 5px;
}
.reviewer-occupation {
    color: #BBBBBB;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 38px;
}
.reviewer-photo-wrapper {
    width: 143px;
    height: 142px;
    border-radius: 50%;
    overflow: hidden;
    border: 11px solid rgba(31,218,181,0.2);
}
.reviewer-photo-wrapper img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.copyright {
    background-color: #22353F;
    display: flex;
    justify-content: center;
    padding: 48px 0;
}
.copyright-text {
    color: #AEAEAE;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
}
.copyright-title {
    color: #18CFAB;
}
