.btn {
    width: 150px;
    text-align: center;
    padding: 20px;
    background-color: #000;
    color: antiquewhite;
    text-transform: uppercase;
    border-radius: 2px;

    cursor: pointer;
    outline: none;
    &:active{
        outline: none;
    }
    &:focus {
        outline: none;
    }
}
.App {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.Modal{
    background-color: red;
    color: white;
    position: relative;
    margin: 0 auto;
    width: 500px;
    margin-top: 100px;
}  

.modalWrapper {
    background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.9;
	z-index: 9999;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: relative;
}

.close {
    position: absolute;
    right: 20px;
    }
    .close:before, .close:after {
    position: absolute;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: white;
    }
    .close:before {
    transform: rotate(45deg);
    }
    .close:after {
    transform: rotate(-45deg);
    }

.main-text {
    padding: 30px;
    text-align: center;
}   
.buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px 30px 30px;
}

.modal-button {
    outline: none;
    color: inherit;
    &:focus {
        outline: none 
    }
    padding: 10px;
    border: none;
    cursor: pointer;
    outline: none;
    &:active{
        outline: none;
    }
    &:focus {
        outline: none;
    }
}
.shadow {
    background: rgba(29, 3, 3, 0.5);
}

.cardslist {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}