.input {
    color: black;
    border-radius: 2px;
    width: 150px;
    height: 30px;
}

.input-wrapper {
    padding: 30px 10px;
    background-color: cornflowerblue;
    width: 250px;
    border-radius: 3px;
}
.label {
    color: white;
    margin-right: 10px;
}
.price-error {
    position: absolute;
    top: 78px;
    left: 109px;
    font-size: 12px;
    color: yellow;
}
.price-label {
    font-size: 12px;
    color: grey;
    position: absolute;
    top: 10px;
    left: 108px;
    background-color: white;
    border: 1px solid grey;
    padding: 5px 5px;
    border-radius: 10px;
    letter-spacing: 1px;
}