*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.background-image{
    height: 100vh;
    overflow-y: scroll;
    background-image: url("../IMG/backgound-image.png");
    background-size: cover;

}
.nav-bar-area{
    padding: 19px 0;
}
.container{
    width: 1366px;
    margin: 0 auto;
}
.nav-bar {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.nav-bar-logo {
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    display: inline-block;
    float: left;
}
.head-nav {
    float: right;
}
.nav-bar-logo:hover {
    color: #3CB878;
    cursor: default;
    transition-duration: 1s;
}

.nav-bar-icons-wrapper{
    display: inline-block;
    float: left;
    font-size: 0;
}
.nav-icon-style {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 30px;
    background: url("../IMG/icons.png")
}
.calendar-icon {
     background-position: -10px -129px;

}
.forum-icon {
    background-position: -10px -169px;
    width: 28px;

}
.journey-icon {
    background-position: -10px -89px;

}
.calendar-icon:hover {
    background-position: -10px -10px;
    transition-duration: 0.25s;
}
.forum-icon:hover {
    background-position: -10px -288px;
    transition-duration: 0.25s;
}
.journey-icon:hover {
    background-position: -10px -209px;
    transition-duration: 0.25s;
}

.nav-bar-loginsignup-wrapper {
    display: inline-block;
    float: right;
    font-size: 14px;
    color: white;
    padding-top: 3px;
}

.nav-bar-icons-wrapper::after {
    content: '';
    border-left: 1px solid rgba(255, 255, 255, 0.9);;
    display: inline-block;
    opacity: 0.5;
    padding: 8.5px 1px;
    margin-right: 26px;
    margin-bottom: 2px;
}
.nav-bar-loginsignup  {
    text-decoration: none;
    color: white;
}
.nav-bar-loginsignup:hover {
    color: #3CB878;
    transition-duration: 1s;
}

.registration-form{
    width: 324px;
    background-color: white;
    border-radius: 5px;
    transform: translate(0, calc((100vh - 584px - 116px)/2));
    padding: 30px 60px 30px 60px;
}

.clearfix::after{
    content: "";
    clear: both;
    display: block;
    font-family: sans-serif;
}
.top-links-wrapper {
    margin-bottom: 18px;
}
.form-title-signup {
    display: inline-block;
    font-size: 20px;
    float: left;
}
.form-title-login {
    font-size: 14px;
    color: #3CB878;
    float: right;
    text-decoration: none;
}
.form-title-signup::before {
    content: '';
    padding: 9px 9px;
    background-color: #3CB878;
    display: inline-block;
    position: absolute;
    left: 0;
}
.bottom-links-wrapper {
    margin-bottom: 19px;
}
.facebook-signup {
    display: inline-block;
    text-decoration: none;
    background-color: #305DB8;
    float: left;
    padding: 10px 20px 10px 21px;
    border-radius: 3px;
    width: 119px;
}
.facebook-link-text {
    display: inline-block;
    float: right;
    font-size: 16px;
    color: white;
    vertical-align: middle;
}
.facebook-link-image{
    display: inline-block;
    float: left;
    margin-top: 4px;
}
.facebook-link-text::before {
    content: '';
    padding: 14px 1px;
    border-left: 1px solid #0A162F;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    opacity: 0.1;

}
.google-plus-signup {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: #DF4A32;
    float: right;
    padding: 10px 30px 10px 15px;
    width: 115px;
    border-radius: 3px;
}
.google-link-image{
    display: inline-block;
    float: left;
    margin-top: 4px;
}
.google-link-text::before {
    content: '';
    padding: 14px 1px;
    border-left: 1px solid #2B0D09;
    display: inline-block;
    margin-right: 27px;
    vertical-align: middle;
    opacity: 0.1;
}
.google-link-text {
    display: inline-block;
    float: right;
    font-size: 16px;
    color: white;
    vertical-align: middle;
}
.connector-links-registr {
    color: #848484;
    font-size: 14px;
    text-align: center;
}
.connector-links-registr::before {
    content: '';
    display: inline-block;
    width: 142px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}
.connector-links-registr::after {
    content: '';
    display: inline-block;
    width: 142px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}
.input-design {
    width: 100%;
    height: 46px;
    margin-top: 16px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    font-size: 14px;
    color: #BEBEBE;
    font-family: sans-serif;
    padding: 18px;
    box-sizing: border-box;
}

.email {
    margin-top: 9px;
}
.password {
    margin-top: 9px;
}
.confirm-password {
    margin-top: 9px;
    margin-bottom: 18px;
}
.input-design:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border: 1px solid #F2F2F2;
    outline: none;
    color: #434343;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.checkbox +label::before {
    content:'';
    padding: 10px 10px;
    display: inline-block;
    border: 2px solid #F2F2F2;
    margin-right: 10px;
    position: relative;
    top: 7px;
}
.checkbox:checked + label::before {
    content:'';
    display: inline-block;
    border: 2px solid #F2F2F2;
    margin-right: 10px;
    position: relative;
    top: 7px;
    background-image: url("../IMG/checkbox.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px 10px;
}
.checkbox-text {
    display: inline-block;
    color: #434343;
    font-size: 14px;
    font-family: sans-serif;

}
.terms-conditions {
    color: #3CB878;
    text-decoration: none;
}
.submit {
    margin-top: 26px;
    border-radius: 4px;
    background: #3CB878;
    width: 100%;
    color: white;
    font-size: 16px;
    text-align: center;
    border: none;
    padding: 11px 105px;
}
.submit:focus {
    outline: none;
}
