.main-field {
    display: flex;
    flex-direction: column;
}
.ip__search {
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    background-color: green;
}
.info-item {
    width: 500px;
    border: 1px solid black;
}