*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background-image: url("../IMG/main_background.png");
}

.container{
    width: 1027px;
    margin: 0 auto;

}
.nav-bar {
    padding-top: 56px;
    margin-bottom: 31px;
}
.nav-bar-logo{
    text-decoration: none;
    width: 160px;
    display: inline-block;
    color: white;
}
.nav-bar-picture{
    width: 53px;
}
.nav-bar-text {
    display: inline-block;
    margin-left: 8px;
}
.nav-bar-title {
    text-transform: uppercase;
    font-size: 29px;
}
.nav-bar-title-small {
    font-size: 18px;
    text-transform: uppercase;
}
.nav-bar-logo:hover img{
    content: url('../IMG/hover_hotel_logo.png');
}
.nav-bar-logo:hover {
    color: #F26522;
}
.nav-bar-contacts {
    float: right;
}
.nav-bar-telephone {
    color: white;
    font-size: 18px;
    float: right;
    margin-top: 8px;
    text-decoration: none;
    display: block;
}
.nav-bar-email {
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: block;
}

.nav-bar-telephone:hover{
    color: #F26522;
    cursor: pointer;
}
.nav-bar-email:hover{
    color: #F26522;
    cursor: pointer;
}
.tour-item-wrapper {
    margin-right: 62px;
    margin-bottom: 41px;
    text-decoration: none;
    display: inline-block;
}
.tour-item-wrapper:nth-child(3n) {
    margin-right: 0;
    float: right;
}
.tour-item {
    width: 300px;
    padding: 164px 0 0 0;
    margin-bottom: 16px;
    font-size: 0;
}
.shopping-tour {
    background-image: url("../IMG/shopping.png");
}
.sightseeing-tour {
    background-image: url("../IMG/sightseeing.png");
}
.food-tour {
    background-image: url("../IMG/shopping.png");
}
.bara-tour {
    background-image: url("../IMG/shopping.png");
}
.art-tour {
    background-image: url("../IMG/shopping.png");
}
.walking-tour {
    background-image: url("../IMG/shopping.png");
}
.tour-description{
    background-color: #F26522;
    width: 100%;
    display: inline-block;
    opacity: 0;
}
.tour-price {
    display: inline-block;
    font-size: 20px;
    color: white;
    float: left;
    margin-bottom: 13px;
    margin-left: 16px;
    font-family: sans-serif;
    margin-top: 7px;
}
.tour-price::before {
    content: 'from';
    font-size: 10px;
    display: block;
    margin-bottom: 6px;
}
.tour-details {
    display: inline-block;
    font-size: 14px;
    color: white;
    float: right;
    margin-top: 29px;
    margin-right: 15px;
    font-family: sans-serif;
    margin-bottom: 13px;
}

.tour-details::after {
    content: '';
    display: inline-block;
    padding: 2.8px 2.8px;
    border: 1px solid white;
    transform: rotate(-45deg);
    border-left-color: #F26522;
    border-top-color: #F26522;
    margin-left: 25px;
    font-size: 0;
}
.tour-name {
    font-size: 18px;
    text-align: center;
    color: white;
}
.tour-item-wrapper:hover .tour-description{
    opacity: 1;
}
.tour-item-wrapper:hover > .tour-name{
    color: #F26522;
}


.copyright {
    font-size: 12px;
    color: white;
    text-align: center;
    padding-bottom: 15px;
}
.clearfix::after {
    content: "";
    clear: both;
    font-family: sans-serif;
}
