.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 20px;
    & img{
        width: 100%;
        max-height: 300px;
    }
    border: 1px solid grey;
    background-color: darkgrey;
}
.card-title {
    font-size: 16px;
    padding: 3px;
    font-weight: bold;
    min-height: 40px;
    width: 90%;
}
.price-id-wrapper {
    display: flex;
    justify-content: space-around;
}
.price{
    padding: 5px;
    font-size: 48px;
}
.id{
    padding: 5px;
}

.title-favor-wrapper {
    display: flex;
}

.star {
	display: inline-block;
    font-size: 5px;
    cursor: pointer;
}
.star span {
	padding: 0;
	font-size: 20px;
	line-height: 1;
	color: lightgrey;
}
.star > span:before {
	content: '★';
}
.star > span.active {
	color: gold;
}