*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.top-link-container {
    padding: 61px 0 38px 0;
}
.top-link {
    font-size: 80px;
    text-decoration: none;
    color: black;
    margin-top: 61px;
}
.top-link-color {
    color: #49cbff;
}
.nav-bar-container {
    height: 71px;
    background-color: #35444F;
    padding: 0px 0px;
    margin-bottom: 50px;
}
.empty-nav-box{
    width: 166px;
    height: 100%;
    border-right: 1px solid black;
    display: inline-block;
    margin-right: 0;
}
.first-nav-link-box{
    width: 322px;
    height: inherit;
    display: inline-block;
    vertical-align: top;
    padding: 0;
}
.first-nav-link{
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 25px 0 25px 23px;
}
.second-nav-link-box{
    width: 153px;
    height: inherit;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid white;
    border-left: 1px solid white;
    background-color: #222F3A;
    text-align: center;
}
.second-nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 25px 0;
}
.third-nav-link-box{
    width: 281px;
    height: inherit;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid black;
}
.third-nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 25px 0 25px 38px;
}
.fourth-nav-link-box{
    height: inherit;
    display: inline-block;
    vertical-align: top;
    width:213px;
    border-right: 1px solid black;
}
.fourth-nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 25px 0 25px 34px;
}
.left-menu {
    width: 342px;
    height: 399px;
    display: inline-block;
    border: 1px solid #000000;
    vertical-align: top;
}
.items-box {
    padding: 27px 0 26px 44px;
}
.main-items-box {
    background: #DBDBDB;
    padding: 27px 0 26px 72px;
}
.item {
     font-size: 27px;
     color: #485863;
     text-decoration: none;
     display: inline-block;
 }
.main-item {
    font-size: 27px;
    color: black;
    text-decoration: none;
    display: inline-block;
}
.menu-cursor {
    width: 23px;
    height: 26px;
    display: inline-block;
    margin-left: 40px;
    vertical-align: top;
}
.cursor-picture{
    width: 100%;
}
.main-content{
    display: inline-block;
    width: 883px;
    vertical-align: top;
    margin-left: 51px;
}
.main-picture-box{
    height: 529px;
    padding: 75px 0 0 297px;
    border: 1px solid #000000;
    margin-bottom: 50px;
}
.image-box {
    width:320px;
    height: 380px;
}
.central-picture {
    width: 100%;
}
.main-text-first-paragraph {
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 1.5;
    padding-bottom: 20px;
}
.main-text-second-paragraph {
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 1.5;
}
.footer {
    margin-top: 54px;
    margin-bottom: 30px;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
}
.bottom-menu {
    margin-left: 43px;
    display: inline-block;
}
.bottom-item {
    font-size: 28px;
    color: #0C1927;
    text-decoration: none;
}
.main-bottom-item {
    font-size: 28px;
    color: #3181A6;
    text-decoration: none;
}
.bottom-item-box {
    display: inline-block;
    padding: 20px 40px 0 0;
}
.bottom-main-content-box {
    display: inline-block;
}
.main-bottom-item {
    display: inline-block;
    height: 49px

}
.bottom-menu-cursor {
    width: 23px;
    height: 26px;
    vertical-align: bottom;
    display: inline-block;
    padding: 0px 11px 0 0;
}
.bottom-main-item-box {
    height: 40px;
    border-bottom: 1px solid #16A085;
    display: inline-block;
}
.copyright {
    font-size: 24px;
    display: inline-block;
    margin-left: 100px
}
