.instagram-shots {
  padding: 2rem 0 2rem 0;
  &__title-wrapper {
    @include flex;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    color: $titleAndLinks-color;
    @media screen and (max-width: 767px){
      font-size: 0.75rem;
    }
  }
  &__link {
    @include link-style;
    color: $titleAndLinks-color;
    font-size: 0.85rem;
    text-transform: uppercase;
    line-height: 1.53rem;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &__photo-wrapper {
    @include flex;
    &__item {
      @media screen and (max-width: 767px) {
        display: none;
      }
      @media screen and (min-width: 767px) and (max-width: 1023px){
        width: 33%;
      }
      @media screen and (min-width: 1024px) {
        width: 24.5%;
      }
      &:last-child {
        @media screen and (max-width: 1023px) {
          display: none;
        }
      }
      &:first-child {
        @media screen and (max-width: 767px) {
        display: inline-block;
        width: 90%;
        }
      }
    }
  }
}
