.main-picture {
  background-image: url("../../img/img1-3x.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 479px) {
    background-image: url("../../img/img1.png");
    background-size: cover;
  }
  @media screen and (max-width: 992px) {
    background-image: url("../../img/img1-2x.png");
    background-size: cover;
  }
  &__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}