@font-face {
    font-family: Starjedi, sans-serif;
    src: url("../fonts/Starjedi.ttf");
}
.background {
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}
.container {
    position: absolute;
    max-width: 800px;
    height: 1000px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: perspective(300px) rotateX(35deg);
    transform-origin: 50% 20%;
    overflow: hidden;
}
.main-text {
    position: absolute;
    color: yellow;
    font-size: 50px;
    text-align: left;
    animation: starWars 30s linear infinite;
    top: 30%;
}

@keyframes starWars {
    0% {
        top: 60%;
    }
    100% {
        top: -50%;
    }
}
.main-text-title {
    text-align: center;
    font-size: 50px;
}
