*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 1145px;
    margin: 0 auto;
}
.nav-bar{
    text-align: center;
    padding: 30px 0;
}
.nav-bar-link{
    font-weight: bold;
    text-transform: uppercase;
    color: #16A085;
    font-size: 18px;
    letter-spacing: 2.7px;
    margin-right: 58px;
    text-decoration: none;
}
.main-picture {
    width: 100%;

}
.main-text-wrap {
    text-align: center;
    margin-bottom: 23px;
    padding: 50px;
}
.main-title {
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 50px;

}
.main-text {
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 1.5;
    margin: 30px 0;
}

.main-submit{
    display: inline-block;
    color: white;
    font-size: 14px;
    letter-spacing: 1.8px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 17px 46px 17px 46px;
    background-color: #16A085;
    border-radius: 3px;
}
.info {
    text-align: right;
    padding-right: 30px;
    margin-bottom: 20px;
}
.copyright {
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: bold;
}