@font-face {
  src: url("../fonts/Roboto-Regular.ttf");
}
@import "mixins";
@import "sections/header";
@import "sections/main-picture";
@import "sections/recent-posts";
@import "sections/instagram";
@import "sections/_social-media-info";
@import "reset";

html{
   @media screen and (max-width: 767px){
     font-size: 12px;
   }
   @media screen and (min-width: 768px) and (max-width: 1023px){
     font-size: 14px;
   }
   @media screen and (min-width: 1024px){
     font-size: 16px;
   }
 }
.container {
  margin: 0 auto;
  max-width: 1170px;
  min-width: 320px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
}

$text-color: #5C5C5C;
$titleAndLinks-color: #4E4E4E;
$footer-text-color: #B9B9B9;
$main-background: white;
$text-style: "Roboto", sans-serif;
