@mixin flex {
  display: flex;
  justify-content: space-between;
}

@mixin link-style {
  text-decoration: none;
}
@mixin icon-position {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
@mixin decoration-line {
  width: 17px;
  height: 2px;
  background-color: white;
  position: absolute;
}