.header{
  background-color: #27262A;
  @media screen and (min-width: 993px) {
    background-color: black;
  }
  &__nav {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @media screen and (min-width: 480px) and (max-width: 992px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    &:hover div a{
      color: white;
    }
    &__title {
      align-items: center;
      display: flex;
    }
    &__logo {
      @media screen and (max-width: 479px) {
        display: none;
      }
      font-size: 24px;
      font-weight: bold;
      color: #8D81AC;
      text-decoration: none;
      text-transform: uppercase;
      margin-left: 20px;
      font-family: Lato;
    }
    &__menu{
      font-family: Montserrat;
      @media screen and (max-width: 479px) {
        display: none;
        &.active {
          position: absolute;
          display: flex;
          flex-direction: column;
          top: 101px;
          left: 30px;
          margin: 0;
          width: 70%;
        }
      }
      @media screen and (min-width: 993px) {
        display: flex;
        justify-content: space-between;

      }
      @media screen and (min-width: 480px) and (max-width: 992px){
        order: 4;
        display: flex;
        justify-content: center;
        margin-top: 24px;
        width: 100%;
        margin-right: 20px;
        }
      &__link{
        text-decoration: none;
        font-size: 16px;
        color: #8D81AC;
        margin-right: 48px;
        font-weight: bold;
        @media screen and (min-width: 480px) and (max-width: 541px) {
          text-decoration: none;
          font-size: 16px;
          color: #8D81AC;
          margin-right: 5%;
          font-weight: bold;
        }
        @media screen and (max-width: 479px) {
          &.active {
            padding: 29px 70px 21px 39px;
            position: relative;
            font-size: 26px;
            line-height: 26px;
            font-family: Montserrat;
            color: #FFFFFF;
            border-bottom: 3px solid rgba(51, 51, 51, 0.2);
            width: 70%;
            background-color: #333333;
            margin: 0;
          }
          &:focus {
            color: #8D81AC;
          }
        }
      }
    }
    &__buy {
      width: 145px;
      border-radius: 40px;
      font-size: 16px;
      font-weight: bold;
      color: white;
      text-decoration: none;
      background: #8D81AC;
      text-align: center;
      padding: 11px 0;
      font-family: Montserrat;
      margin-right: 20px;
    }
  }
}
.last-child {
  margin-right: 0;
}