@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

.container {
    width: 1192px;
    margin: 0 auto;

}
.price-sheet {
    border-collapse: collapse;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;
    border: 20px solid #3A4965;
}
.price-sheet-title-wrapper{
    vertical-align: middle;
}
.price-sheet-small-title {
    color: #484848;
    font-size: 18px;
    margin-bottom: 3px;

}
.price-sheet-big-title {
    color: #484848;
    font-size: 30px;
}
.item-format{
    padding: 25px 0 19px 0;
    color: #484848;
    width: 277px;
    border-left: 1px solid #989C9D;
}

.standard-tariff-format {
    font-size: 24px;
    color: white;
    padding: 27px 0 18px 0;
    font-weight: bold;
}
.ultimate-tariff-format {
    font-size:  30px;
    color: white;
    padding: 24px 0 21px 0;
    font-weight: bold;
}
.premium-tariff-format {
    font-size:  24px;
    color: white;
    padding: 27px 0 18px 0;
    font-weight: bold;
}
.price-item {
    border-left: 1px solid #989C9D;
    color: #484848;
    text-align: left;
    padding: 22px 0 3px 35px;
}
.price-dollars {
    font-size: 60px;
    font-weight: bold;
    display: inline-block;
    padding-top: 9px;
}
.wrapper {
    display: inline-block;
    vertical-align: top;
}
.price-cent {
    font-size: 24px;
    font-weight: bold;
    display: block;

}
.payments-frequency {
    font-size: 18px;
    display: block;
    font-weight: normal;
    position: relative;
    padding-left: 3px;
}
.contact-link {
   padding: 15px 30px 0 30px;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #484848;
    font-weight: bold;
    border-bottom: 9px solid #404040;

}
.icon-format {
    color: #848484;
    font-size: 24px;
}
.buy-link {
    padding: 15px 42px 0px 42px;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;

}
.tariff-item {
    font-weight: bold;
    color: white;
}
.standard-tariff-background {
    background-color: #89C331;
}
.ultimate-tariff-background {
    background-color: #F04A56;
}
.premium-tariff-background {
    background-color: #20807C;
}
.standard-tariff-border {
    border-bottom: 9px solid #79B027;
}
.ultimate-tariff-border {
    border-bottom: 9px solid #DF3A46;
}
.premium-tariff-border {
    border-bottom: 9px solid #16736F;
}
.links-wrapper {
    padding: 29px 0 26px 0;
    border-left: 1px solid #989C9D;
}
.raw:nth-child(2n) {
    background-color: #E3E3E3;
}
.raw:nth-child(2n+1) {
    background-color: #F2F2F2;
}
.light-grey-background {
    background-color: #E3E3E3;
}
.buy-link:hover {
    background-color: darkred;
    transition-duration: 0.5s;
    border-bottom-color: darkred;
}
.contact-link:hover {
    padding: 25px 52px 19px 52px;
    background-color: green;
    transition-duration: 1s;
    border-bottom-color: green;
}