.container {
  @media screen and (min-width: 992px) {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 320px;
    padding: 0 10px 0 10px;
    width: 100%;
  }
  @media screen and (max-width: 992px) {
    margin: 0 auto;
    max-width: 992px;
    min-width: 320px;
    padding: 0 10px 0 10px;
    width: 100%;
  }
  @media screen and (max-width: 479px) {
    margin: 0 auto;
    max-width: 479px;
    min-width: 320px;
    padding: 0 10px 0 10px;
    width: 100%;
  }
}
@import "sections/header/header";
@import "sections/header/header_button";
@import "sections/picture";

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato/Lato-Regular.ttf");
}