@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}
.container {
    margin: 0 auto;
}
.nav-bar {
    display: flex;
    background-color: #313131;
    justify-content: space-between;
    align-items: center;
}
.nav-bar-icon {
    width: 27px;
}
.nav-bar-logo-icon-wrapper {
    font-size: 0;
}
.nav-bar-logo {
    width: 160px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.nav-bar-logo-title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
}
.nav-bar-links-wrapper {
    display: flex;
    justify-content: space-around;
    width: 37vw;

}
.nav-bar-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 28px 0 26px 0;
}
.nav-bar-search {
    padding: 27px 25px 26px 26px;
    background-color: #000000;
}
.search-icon {
    width: 100%;
}
.nav-bar-link:hover {
    color: #14B9D5;
}
.top-menu-news-subscribe {
    padding: 164px 0 74px 0;
    background-image: url("../img/header-bg.jpeg");
    /*background-position-y: 741px;*/
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.top-menu-title {
    font-size: 27px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.top-menu-links-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 44px;
}
.top-menu-link-subscribe {
    padding: 16px 19px 17px 19px;
    text-decoration: none;
    color: white;
    border-radius: 2px;
    background: #89CA62;
    font-weight: 600;
    font-size: 18px;
    margin-right: 20px;
}
.top-menu-link-bestarticles {
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: white;
    border-radius: 2px;
    background: #14B9D5;
    padding: 16px 29px 17px 30px;
}
.posts-format {
    width: 1170px;
    margin: 0 auto;
}
.posts-title {
    font-size: 27px;
    font-weight: bold;
    color: #18B4CF;
    text-transform: uppercase;
    text-align: center;
    padding: 49px 0 52px 0;
}
.posts-wrapper {
    display: flex;
    justify-content: flex-start;
    height: 896px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;

}
.post {
    margin-bottom: 30px;
    width: 370px;
}
.posts-name {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
    padding: 20px 0 22px 0;
}
.popular-clients {
    padding: 106px 0 180px 0;
    background-image: url("../img/popular-clients-background.jpeg");
    /*background-position-y: 1000px;*/
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    align-content: space-between;
}
.popular-clients-title {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding: 6px 0;
    display: grid;
    grid-row-gap: 94px;
    justify-items: center;
}
.popular-clients-title:after {
    content: '';
    padding: 3px 0;
    width: 60px;
    background-color: #18B4CF;
    margin-bottom: 106px;
}

.clients-names-wrapper {
    display: grid;
    grid-gap: 50px;
    grid-auto-flow: column;
}
/*

}
.national-post {
  background-image: url("../img/national_post.png");
  padding: 14px 0;
}
.dryme {
  background-image: url("../img/dryme.png");
  padding: 24px 0 25px 0;
}
.house-home {
  background-image: url("../img/house_home.png");
  padding: 25px 0 26px 0;
}
.journy {
  background-image: url("../img/journy.png");
  padding: 26px 0 26px 0;
}
*/

.clients-image-wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto auto auto auto;
}
.client-image {
    width: 100%;
}
.top-news {
    margin-bottom: 71px;
}

.news-segment {
    display: grid;
    grid-template: repeat(4, auto) / repeat(4, auto);
    align-content: space-between;
    height: 1480px;
}
.news-title {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    color: #353A3D;
    padding: 14px 0 15px 0;
}
.news-title-center {
    padding: 4px 0 15px 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #353A3D;
}
.news-text {
    text-align: right;
    font-weight: 600;
    font-size: 14px;
    color: #5B6469;
}
.news-content-wrapper {
    padding: 20px 0 0 20px;
    background: #F9F7F7;
}

.footer-content{
    background-color: #313131;
    padding: 29px 0 27px 0;
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    grid-gap: 559px;
}
.copyright {
    font-size: 13px;
    color: white;
}
.footer-icons-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 3px;
    align-content: start;
}
.footer-logo {
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    font-size: 16px;
}
.span3columns {
    grid-column: span 3;
    width: 856px;
    display: grid;
    grid-auto-flow: column;
}
.span2columns {
    grid-column: span 2;
    width: 554px;
}
.margin-right-60px {
    margin-right: 60px;
}
.margin-right-30px {
     margin-right: 30px;
 }