.recent-posts {

}
.recent-posts__title {
  font-family: $text-style;
  font-weight: bold;
  color: $titleAndLinks-color;
  font-size: 1em;
  padding: 4rem 0 1.5rem 0;
  text-transform: uppercase;
}
.recent-posts__wrapper {
  @include flex;
  flex-wrap: wrap;
}
.recent-posts__content {
  @include flex;
  margin-bottom: 2rem;
  @media screen and (min-width: 320px) and (max-width: 480px) {
    width: 80%;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  @media screen and (min-width: 480px) and (max-width: 1023px) {
    width: 70%;
  }
  @media screen and (min-width: 1024px) {
    width: 50%;
  }
  &__img {
    @media screen and (min-width: 320px) and (max-width: 767px) {
      width: 160px;
    }
  }
  &__text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  &__subtitle {
    color: $titleAndLinks-color;
    font-size: 1rem;
    line-height: 1.8rem;
    font-family: $text-style ;
    font-weight: bold;

  }
  &__info {
    font-family: $text-style;
    color: #7C7C7C;
    font-size: 0.75rem;
    line-height: 1.35rem;
  }
  &__text {
    color: $text-color;
    font-size: 0.87rem;
    font-family: $text-style;
    line-height: 1.57rem;
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
}
