.social-media-info {
  background-color: black;
  font-size: 1rem;
  font-family: $text-style;
  text-align: center;
  padding: 4.125rem 0 4.375rem 0;
  &__title {
    font-size: 1rem;
    text-transform: uppercase;
    font-family: $text-style;
    font-weight: bold;
    margin-bottom: 1.375rem;
    line-height: 1.375rem;
    color: white;
    @media screen and (max-width: 767px) {
      font-size: 1.3rem;
    }
  }
  &__text {
    display: inline-block;
    margin-bottom: 2.3125rem;
    line-height: 1.75rem;
    color: #B9B9B9;
    @media screen and (max-width: 767px) {
      width: 90%;
      font-size: 0.9rem;
    }
    @media screen and (min-width: 767px) and (max-width: 1023px){
      width: 80%;
    }
    @media screen and (min-width: 1024px) {
      width: 60%;
  }
  }
  &__icons-wrapper{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.125rem;
    @include flex;
    width: 194px;
  }

}
.social-media__contacts {
  font-size: 1.33rem;
  line-height: 2rem;
  color: #B9B9B9;
  align-items: center;
  display: inline-block;
  @media screen and (max-width: 767px){
    width: 70%;
  }
}
.social-media__icon{
  position: relative;
  @include link-style;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.rss {
  border: 2px solid #F8902E;
}
.rss::after {
  @include icon-position;
  content: url("../img/rss-icon.png");
}
.facebook {
  border: 2px solid #39599F;
}
.facebook::after {
  @include icon-position;
  content: url("../img/facebook-icon.png");
}
.twitter {
  border: 2px solid #45B0E3;
}
.twitter::after {
  @include icon-position;
  content: url("../img/twitter-icon.png");
}
.dribbble{
  border: 2px solid #D97AB0;
}
.dribbble::after {
  @include icon-position;
  content: url("../img/dribbble-icon.png");
}
.pinterest {
  border: 2px solid #CC212C;
}
.pinterest::after {
  @include icon-position;
  content: url("../img/pinterest-icon.png");
}