$text-color: #5C5C5C;
$titleAndLinks-color: #4E4E4E;
$footer-text-color: #B9B9B9;
$main-background: white;
$text-style: "Roboto", sans-serif;

.head-nav {
  background-color: $main-background;
  padding: 2.75rem 0 3.25rem 0;
  position: relative;
  &__menu {
    display: flex;
    justify-content: center;
    &.active{
      @media screen and (max-width: 767px) {
        display: flex;
        width: 15em;
        flex-direction: column;
        z-index: 1;
        position: absolute;
        top: 60px;
        right: 20px;
      }
    }
    @media screen and (max-width: 767px){
      display: none;
    }
    &__link {
      font-family: $text-style;
      @include link-style;
      color: $footer-text-color;
      text-transform: uppercase;
      font-size: 0.75rem;
      margin-right: 5%;
      letter-spacing: 1.1px;
      &.active{
        padding: 10px 0 10px 1em;
        background-color: #F5F5F5;
        color: $footer-text-color;
      }
      &.active:nth-child(4n+4){
        background-color: #E5E5E5;
      }
      &:hover .active {
        color: #57A4A4;
      }
      &:hover {
        color: #57A4A4;
      }
    }
  }
  &__button {
    width: 44px;
    height: 37px;
    background-color: black;
    border: 0;
    position: absolute;
    overflow: hidden;
    outline: 0;
    right: 10px;
    top: 1.25em;
    @media screen and (min-width: 768px){
      display: none;
    }
    &__decoration-top-line {
      @include decoration-line;
      transform: translateX(-50%) translateY(calc(-50% - 4px));
      &.active {
        display: none;
      }
    }
    &__decoration-middle-line {
      @include decoration-line;
      transform: translateX(-50%) translateY(-50%);
      &.active {
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      }
    }
    &__decoration-bottom-line {
      @include decoration-line;
      transform: translateX(-50%) translateY(calc(-50% + 4px));
      &.active{
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
      }
  }
}}

